/* Background styling */
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    padding: 0 100px;
    background-image: url('../assests/Home2.jpg');
    background-size: cover; /* Ensures the image covers the whole area */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
  }
  
  .content {
    display: flex;
    flex-direction: column;
  }
  
  .image-container {
    /* flex-grow: 1; */
    width: 41vw;
 
  }
  
  .globe-image {
    width: 500px;
    height: auto;
  }
  
  /* Additional styling to tweak layout and typography */
  button {
    text-transform: none;
  }
  