.sidebar {
    width: 250px;
    background-color: #263238;
    color: white;
    height: 100vh;
  }
  
  .nav-items {
    list-style: none;
    padding: 0;
  }
  
  .nav-items li {
    padding: 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  
  .nav-items li i {
    margin-right: 10px;
  }
  